<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
        body {
            background-color: #3d9970;
        }

    </style>

</head>
<body>


    <h1>This is the <strong>Sample</strong> Theme Layout</h1>
    @Html.Partial("_ThemeSwitcher")
    @Html.Partial("_Menu")
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

